* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background: #222;
    color: white;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
.logo {
    font-weight: bold;
    margin-right: 30px;
}
.menu a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
.search {
    margin-left: auto;
}
.search input {
    padding: 5px;
    border-radius: 5px;
}
.search button {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

/* CONTENT */
.container {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


.btn-edit {
    background: orange;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}
.btn-delete {
    background: red;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

/* checkbox hack */
#showModal:checked ~ .modal {
    display: block;
}

.modal-content {
    background: white;
    width: 520px;
    margin: 100px auto;
    border-radius: 5px;
    overflow: hidden;
}

/* MODAL HEADER */
.modal-header {
    background: #0d6efd;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close {
    cursor: pointer;
    font-size: 20px;
}

/* MODAL BODY */
.modal-body {
    padding: 15px;
}

/* FORM */
.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
}

.form-group {
    flex: 1;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* GENDER */
.gender {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radio-item input {
    margin: 0;
}

/* MODAL FOOTER */
.modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #ddd;
}

.btn-save {
    background: green;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-cancel {
    background: gray;
    color: white;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}
